@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,700,600,400italic);

body.sans {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background: #818D6C;

    canvas {
        display : block;
        margin : auto;
        margin-top:  10px;
        border: solid 10px #3c312b;
        border-radius: 5px 5px 0px 0px;
    }

    .main-container {
        width: 880px;
        margin: 0 auto;
        margin-top: 52px;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 46px;
	background: #3c312b;
	color: #fff;
    line-height: 46px;
    font-size: 15px;
    text-shadow: 1px 1px 0 black;

    .scoreboard {
        float: left;
        width: 200px;
        font-size: 30px;
        font-weight: 600;
        margin-left: 30px;

        * {
            float: left;
        }

        .shirt {
            width: 20px;
            height: 20px;
            border-radius: 2px;
            margin-top: 15px;
        }

        .home .shirt {
            background: red;
            margin-right: 20px;
        }

        .away .shirt {
            background: blue;
            margin-left: 20px;
        }

        .separator {
            margin: 0 10px;
        }

    }

    .timer{
        float: right;
        width: 200px;
        height: 50px;
        font-size: 30px;
        font-weight: 600;
        margin-right: 30px;
        text-align: right;
        line-height: 50px;
    }
}
